[core]

        excludesfile = ~/.gitignore_global
        editor = /usr/bin/vim
        hooksPath= ~/config/git/hooks

[user]

        name = Jeremie Izzo
        email = izzo.j@hotmail.com

[pull]

	      rebase = true
